h3 {
   text-shadow: 10px 10px 10px Cyan;
}
p {
 text-indent: 20px;
 line-height: 1.4em;
 letter-spacing: .05em;
 word-spacing: .1em;
}
.sub-header {
 text-align: center;



}
p:first-letter {
    font-size: 200%;

}
p:first-line {
    font-weight: bold;
    font-style: italic;

}
a:link {
 color: green;

}
a:visited{
    color:red;


}
a:hover {

color: black;
}
button {
    background-color: green;
}
button:active {
    background-color: orange;
}
button:hover {
    background-color: blue;
}
input:focus {
    background-color: Cyan;
}
