body {
 background-color: rgb(200,200,200);

}
h2{
 color: DarkCyan;
}
h3{
 color: white;
 background-color: #799ce8;
 opacity: .20;
}

ul {
 background-color: hsla(0,100%,100%,.4);
 border-radius: 10px;

}
