img.large {
    width: 500px;
    height: 500px;
    }
img.medium {
    width: 250px;
    height:250px;
}
img.align-left {
    float:left;
    margin-right: 10px;
}
img.align-right {
    float:left;
    margin-left: 10px;
}
img.align-center {
    display:block;
    margin: 0px auto;
}
p.text-with-background-image {
    color:white;
    font-size: 50px;
    background-image: url("3.png");
    text-shadow: 1px 1px 0px grey;
    background-repeat: repeat;
    background-attachment:fixed;
    background-position: 100% 50%
}
